@import 'nextra-theme-docs/style.css';
@import 'tailwindcss';
/* Whitelist Tailwind CSS classes from <Bleed> TSDoc examples */
@source inline('aspect-video');
@source inline('py-10');

@variant dark (&:where(.dark *));

@theme {
}

body {
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
}

.home-content p {
  margin-top: 1.5em;
  line-height: 1.75em;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .home-content .hide-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .home-content p {
    font-size: 0.9rem;
  }

  .home-content .hide-small {
    display: none;
  }
}

/* adds labels to the sidebar links */
.badge-new {
  @apply dark:after:border-blue-200/30 dark:after:bg-blue-900/30 dark:after:text-blue-200;
  &:after {
    @apply ms-1.5 rounded-full border border-blue-200 bg-blue-100 px-1.5 text-xs font-bold text-blue-900 content-["New"];
  }
}

/* badge styles for sidebar links (content should be added manually via ::after) */
.badge-info {
  @apply dark:after:border-blue-200/30 dark:after:bg-blue-900/30 dark:after:text-blue-200;
  &:after {
    @apply ms-1.5 rounded-full border border-blue-200 bg-blue-100 px-1.5 text-xs font-bold text-blue-900;
  }
}

.badge-success {
  @apply dark:after:border-green-200/30 dark:after:bg-green-900/30 dark:after:text-green-200;
  &:after {
    @apply ms-1.5 rounded-full border border-green-200 bg-green-100 px-1.5 text-xs font-bold text-green-900;
  }
}

.badge-danger {
  @apply dark:after:border-red-200/30 dark:after:bg-red-900/30 dark:after:text-red-200;
  &:after {
    @apply ms-1.5 rounded-full border border-red-200 bg-red-100 px-1.5 text-xs font-bold text-red-900;
  }
}

.badge-warn {
  @apply dark:after:border-yellow-200/30 dark:after:bg-yellow-900/30 dark:after:text-yellow-200;
  &:after {
    @apply ms-1.5 rounded-full border border-yellow-200 bg-yellow-100 px-1.5 text-xs font-bold text-yellow-900;
  }
}

.nextra-callout a {
  color: inherit !important;
  text-decoration: underline;
}

.nextra-callout a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url("../public/font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 450 500;
  font-display: swap;
  src: url("../public/font/Montserrat-VariableFont_wght.ttf") format("truetype");
}

/* Override Nextra's default fonts */
:root {
  --nextra-font-sans: "Montserrat", "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.headline {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var( --nextra-font-sans);
}